<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color:brown; background-color: azure;">This is my home page</h1>
    {%for i in a%}
    <p style="color: crimson; background-color: bisque;">{{i}}</p>
    {% endfor %}
    <a href="{% url 'about'%}">about</a><br>
    <a href="{%url 'contact'%}">contact</a>
    <a href="{% url 'register' %}">register</a>
</body>
</html>