<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: rgb(159, 45, 83); text-align: left;">ViewBook</h1>
    <table border="1"
    style="border-collapse: collapse;">
    <tr>
        <th style="color:rgb(25, 94, 219) ;">title</th>
        <th style="color:rgb(25, 94, 219) ;">author</th>
        <th style="color:rgb(25, 94, 219) ;">price</th>
        <th style="color:rgb(25, 94, 219) ;">pub_date</th>
        <th style="color:rgb(25, 94, 219) ;">description</th>
        <th>Update</th>

    </tr>
    
    <tr>
        {% for i in ab%}
        <td style="color: blueviolet;">{{i.title}}</td>
        <td style="color: blueviolet;">{{i.author}}</td>
        <td style="color: blueviolet;">{{i.price}}</td>
        <td style="color: blueviolet;">{{i.pub_date}}</td>
        <td style="color: blueviolet;">{{i.description}}</td>
        <td><a href="{% url 'updatebook' i.id %}">Update</a>
        <a href="{% url 'deletebook' i.id %}">delee</a></td>
    
        
    </tr>
    {% endfor %}
    </table>
</body>
</html>