<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: crimson; text-align: center;">ViewBook</h1>
    <table border="1"
    style="border-collapse: collapse;">
    <tr>
        <th style="color:rgb(25, 94, 219) ;">title</th>
        <th style="color:rgb(25, 94, 219) ;">author</th>
        <th style="color:rgb(25, 94, 219) ;">price</th>
        <th style="color:rgb(25, 94, 219) ;">pub_date</th>
        <th style="color:rgb(25, 94, 219) ;">description</th>
    </tr>
    
    <tr>
        {% for i in ab%}
        <td>{{i.title}}</td>
        <td>{{i.author}}</td>
        <td>{{i.price}}</td>
        <td>{{i.pub_date}}</td>
        <td>{{i.description}}</td>
        
    </tr>
    {% endfor %}
    </table>
</body>
</html>